/*
color: #212121; — основной цвет текста
color: #757575; — вторичный цвет текста
color: rgba(255, 255, 255, 0.6); — цвет контактов в подвале
color: #2196F3; — акцент
color: #FFFFFF; — белый
background: #F5F4FA; — светло-серый для фона и кнопок
background: #2F303A; — тёмно-серый для фона
*/

/* Объявление цветов через CSS переменные */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bottom-contacts-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196F3;
  --accent-color-trasparent: #2196F399;
  --main-light-color: #FFFFFF;
  --main-light-gray-color: #F5F4FA;
  --main-dark-gray-color: #2F303A;
  --main-black-color: #000000;
}

/* Общая стилизация */
body {
  color: var(--primary-text-color);
  background-color: var(--main-light-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}

/* Логотип */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Логотип на светлом фоне */
.logo .web-on-light {
  color: var(--accent-color);
}
.logo:hover .web-on-light,
.logo:focus .web-on-light {
  color: var(--main-black-color);
}
.logo .studio-on-light {
  color: var(--main-black-color);
}
.logo:hover .studio-on-light,
.logo:focus .studio-on-light {
  color: var(--accent-color);
}


/* Логотип на тёмном фоне */
.logo .web-on-dark {
  color: var(--accent-color);
}
.logo:hover .web-on-dark,
.logo:focus .web-on-dark {
  color: var(--main-light-color);
}
.logo .studio-on-dark {
  color: var(--main-light-color);
}
.logo:hover .studio-on-dark,
.logo:focus .studio-on-dark {
  color: var(--accent-color);
}

/* Список без буллетов */
.list {
  padding: 0px;
  list-style: none;
}

/* Заголовок страницы с меню навигации */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts-top a:hover,
.contacts-top a:focus {
  color: var(--accent-color);
}

.site-nav .link.current:hover,
.site-nav .link.current:focus {
	color: var(--primary-text-color);
}
.contacts-top a {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Заставка */
.hero {
  background-color: var(--main-dark-gray-color);
}
.hero-title {
	color: var(--main-light-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-button {
  color: var(--main-light-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--main-black-color);
  background-color: var(--main-light-gray-color);
}

/* Заголовки секций */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Особенности и преимущества */
.features p {
  color: var(--secondary-text-color);
}
.features.list h3 {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Наша команда */
.team {
  background: var(--main-light-gray-color);
}
.team.list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team.list p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Подвал */
.footer {
  background-color: var(--main-dark-gray-color);
}
.footer > address{
  color: var(--main-light-color);
  font-style: normal;
}
.contacts-bottom a {
  color: var(--bottom-contacts-text-color);
}
.contacts-bottom a:hover,
.contacts-bottom a:focus {
	color: var(--accent-color-trasparent);
}

/* Набор контента */
.content h2 {
  color: var(--primary-text-color);
}
.content p {
  color: var(--secondary-text-color);
}

/* Селектор контента */
.content-selector button {
  color: var(--primary-text-color);
  background-color: var(--main-light-gray-color);
}
.content-selector button:hover,
.content-selector button:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

/* Портфолио */
.portfolio h1 {
  color: var(--main-black-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.content.list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.content.list p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 2;
}